<%- include("./beforeLogIn/header.ejs") %>

    <img src="/img/profile.jpg" alt="Error 404" class="profilepic">
    <p class="name">Shantanu Vinod Patil</p>
    <p style="text-align: center; color: gainsboro; cursor: pointer;"><i class="fas fa-envelope"></i>
        pshantanu771@gmail.com</p>
    <p style="text-align: center; color: gainsboro; cursor: pointer;"><i class="fas fa-phone-alt"></i>8080126204</p>

    <p class="connect">Connect with me <i class="fas fa-link" style="color: rebeccapurple;"></i></p>
    <div class="profiles">

        <a href="https://github.com/pshantanu771" target="__blank"><i class="fab fa-github fa-2x"></i></a>

        <a href="https://www.linkedin.com/in/shantanu-patil-8035b21b9" target="__blank"><i
                class="fab fa-linkedin fa-2x"></i></a>

        <a href="https://www.instagram.com/p_shantanu.official/" target="__blank"><i
                class="fab fa-instagram fa-2x"></i></a>


        <a href="https://www.facebook.com/shantanu.patil.7127/" target="__blank"><i
                class="fab fa-facebook fa-2x"></i></a>
    </div>




    <%- include("./beforeLogIn/footer.ejs") %>