<%- include("./beforeLogIn/header.ejs") %>
  <div class="container box">
    <h1>Welcome</h1>
    <h2><span>All your Daily Routine now on your fingertips</span></h2>
    <h2><span>Sign up now!!</span></h2>
    <form action="/register" method="post">
      <button type="submit" class="btn btn-primary openModal">Get Started</button>
    </form>
  </div>

  <%- include("./beforeLogIn/footer.ejs") %>