<%- include("./beforeLogIn/header.ejs") %>

  <form action="/Login" class="loginForm" method="post">
    <div class="signupContainer">
      <h1>Log in</h1>
      <div class="seprator"></div>
      <label for="email">Email</label>
      <input type="email" name="login_email" placeholder="Enter email" required>
      <label for="password">Password</label>
      <input type="password" name="login_password" placeholder="Enter password" required autocomplete="off">

      <h6 style="color: red;">
        <%= firstPara %>
      </h6>

      <button type="submit" class="loginBtn btn-lg btn-primary" value="submit" title="Login">Login</button>
      <p>
        New User??
        <a href="/showregister" class="formSignUp" title="Sign up">Sign Up</a>
      </p>

    </div>
  </form>

  <%- include("./beforeLogIn/footer.ejs") %>